// Color Variable //
$theme-light-color:#ff4081;
$theme-color : #000000;
$theme-dark-color : #3d3d3d;
$fb-theme-color : #404aa7;
$gp-theme-color : #e43b3b;
$text-on-theme-color : #fff;
$box-shadow-color : #333;
$fa-icon-color : #ccc;
$disabled-text-color:#b1b1b1;
$theme-navbar-color: #607D8B;
$theme-secondary-color: #FDA60C;
$theme-background-color: #f1f1f1;
$theme-scrollbar-color: #7ba2b5;
$font-primary-color: #333333;
$font-secondary-color: #666666;
$font-light-color: #999999;
$light-heading-bgcolor: #E0E8ED;


// Font size //
$fa-large-size: 4em;
$fa-medium-size : 2em;

// Box shadow variable //
$normal-box-shadow :  0px 1px 3px 0px rgba(0,0,0,0.33);
$focus-box-shadow :  0px 0px 18px 0px rgba(0,0,0,0.20);

// Screen size //
$mobile : 400px;
$font-size-xs: 12px;
$font-size-sm: 13px;
$font-size-md: 14px;
$font-size-lg: 16px;


