<template>
    <!--<div class="ps-editor">
        <div class="row">
            <div class="col-sm-2 p-0">
                <div class="ps-editor-left-side-block">

                </div>
            </div>
            <div class="col-sm-8 p-0">
                <div class="ps-editor-middle-block">

                </div>
            </div>
            <div class="col-sm-2 p-0">
                <div class="ps-editor-right-side-block">
                </div>
            </div>
        </div>
    </div>-->
    <div class="ps-editor">
        <div v-show="processing"
             style="position:absolute; top:10px;right:40%; text-align:center; background:#555;display:none">
            Saving Your Changes
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="ps-editor-left-side-block">
                    <div class="ps-content-title">
                        <input type="text" v-model="publication_title" class="ps-input-textbox" placeholder="Title">
                    </div>
                    <div class="ps-page-detail-block">
                        <div class="ps-page-detail-title">Pages</div>
                        <ul class="ps-page-detail-child-block">
                            <li v-for="page in pages" class="">
                                <button class="ps-page-counter" v-if="current_page != page">
                                    <span class="ps-custom-page-title">{{page.title | truncate(10)}}</span>
                                    <i class="fa fa-pencil" v-on:click="LoadPage(page)"></i> &nbsp
                                    <i class="fa fa-close" v-on:click="DeletePage(page)"></i>
                                </button>
                                <input v-if="current_page == page" type="text" v-model="current_page_title"
                                       placeholder="Page Title">
                            </li>
                            <li class="ps-new-page-button" v-on:click="AddBlankPage()">
                                <button class="ps-dark-button">New Page</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="ps-editor-middle-block">
                    <div id="summernote">
                        Content
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="ps-editor-right-side-block">
                    <div class="ps-select-type">
                        <select v-model="publication_type" class="ps-input-textbox">
                            <option selected="selected" value="0">- Please Select Type -</option>
                            <option value="1">Article</option>
                            <option value="2">Book</option>
                        </select>
                    </div>


                    <div class="ps-content-image-type1">
                        <div class="ps-page-detail-title">Cover Image</div>
                        <div class="ps-user-profile-image-detail-block">
                            <div class="ps-user-profile-image">
                                <img :src="publication.cover_pic" alt="Profile Picture" id="blah">
                                <div class="ps-upload-file">
                                    <input type="file" name="profile_pic" id="file-1" onchange="readURL(this);">
                                </div>
                                <div class="ps-upload-image-button">
                                    <i class="fa fa-camera"></i>
                                    <span>Upload Image</span>
                                </div>
                                <div class="ps-confirm-image">
                                    <i class="fa fa-check" onclick="update()"></i>
                                    <span>Save</span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>




                    <div v-if="publication_type=='2' " class="ps-content-image-type1">
                        <div class="ps-page-detail-title">Back Image</div>
                        <div style="width:100%;height:150px; background:#ccc"></div>
                    </div>

                    <div class="ps-content-image-type1">
                        <div class="ps-page-detail-title">Tags</div>
                        <div class="ps-tag-block">
                        <input id="tags" data-role="tagsinput" class="ps-input-textbox" onchange="tagUpdate()">
                        </div>
                    </div>

                    <div class="ps-content-image-type1">
                        <div class="ps-page-detail-title">Publish</div>
                        <div class="ps-publish-block">
                        <label class="switch" :class="{checked:publication_published == 2} ">
                            <i class="icon-ok"></i>
                            <i class="icon-remove"></i>
                            <input type="checkbox" :checked="publication_published == 2 " onchange="toggle()">
                        </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style>

    .switch {
        background-color: #bebebe;
        border-radius: 4px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        color: #fff;
        cursor: pointer;
        display: block;
        font-size: 14px;
        height: 26px;
        margin-bottom: 12px;
        position: relative;
        width: 60px;
        -webkit-transition: background-color 0.2s ease-in-out;
        -moz-transition: background-color 0.2s ease-in-out;
        -o-transition: background-color 0.2s ease-in-out;
        -ms-transition: background-color 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out;
    }

    .switch.checked {
        background-color: #76d21d;
    }

    .switch input[type="checkbox"] {
        cursor: pointer;
        height: 10px;
        left: 12px;
        position: absolute;
        top: 8px;
        -webkit-transition: left 0.05s ease-in-out;
        -moz-transition: left 0.05s ease-in-out;
        -o-transition: left 0.05s ease-in-out;
        -ms-transition: left 0.05s ease-in-out;
        transition: left 0.05s ease-in-out;
        width: 10px;
    }

    .switch.checked input[type="checkbox"] {
        left: 38px;
    }

    .switch input:before {
        background: #fff;
        background: -moz-linear-gradient(top, #fff 0%, #f0f0f0 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f0f0f0));
        background: -webkit-linear-gradient(top, #fff 0%, #f0f0f0 100%);
        background: -o-linear-gradient(top, #fff 0%, #f0f0f0 100%);
        background: -ms-linear-gradient(top, #fff 0%, #f0f0f0 100%);
        background: linear-gradient(to bottom, #fff 0%, #f0f0f0 100%);
        border: 1px solid #fff;
        border-radius: 2px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
        content: '';
        height: 18px;
        position: absolute;
        top: -5px;
        left: -9px;
        width: 26px;
    }

    .switch input:after {
        background: #f0f0f0;
        background: -moz-linear-gradient(top, #f0f0f0 0%, #fff 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(100%, #fff));
        background: -webkit-linear-gradient(top, #f0f0f0 0%, #fff 100%);
        background: -o-linear-gradient(top, #f0f0f0 0%, #fff 100%);
        background: -ms-linear-gradient(top, #f0f0f0 0%, #fff 100%);
        background: linear-gradient(to bottom, #f0f0f0 0%, #fff 100%);
        border-radius: 10px;
        content: '';
        height: 12px;
        margin: -1px 0 0 -1px;
        position: absolute;
        width: 12px;
    }

    .switch .icon-ok,
    .switch .icon-remove {
        line-height: 28px;
        text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2);
        margin: 0 9px;
    }

    .switch .icon-ok {
        float: left;
    }

    .switch .icon-remove {
        float: right;
    }
</style>

<script>
    export default {
        mounted() {
            let vm = this
            // onChange callback
            $('#summernote').summernote({
                airMode: true,
                callbacks: {
                    onImageUpload: function (image) {
                        alert("Upload triggered");
                        uploadImage(image[0]);
                        console.log(image[0]);
                    },
                    onChange: function (contents, $editable) {
                        clearTimeout(fetch);
                        fetch = setTimeout(function () {
                            vm.processing = true;
                            vm.current_page.content = contents
                            axios.post('/publication/store/page', {
                                title: vm.current_page.title,
                                content: vm.current_page.content,
                                id: vm.current_page.id,
                                publication_id: vm.current_page.publication_id,
                            })
                                .then(function (response) {
                                    vm.processing = false
                                    console.log(response)
                                })
                                .catch(function (error) {
                                    vm.processing = false
                                    console.log(error)
                                });
                            console.log('onChange:', contents, $editable);
                            vm.processing = false
                        }, 2000)
                    }
                }
            });
            axios.get('/publication/get/publication', {
                params: {
                    publication_id: this.get
                }
            })
                .then((data) => {
                    if (data.data != undefined) {
                        console.log(this.get)
                        console.log(data);
                        console.log(data.data);
                        vm.pages = data.data.pages
                       
                        vm.publication_title = data.data.title
                        vm.publication_type = data.data.type
                        vm.publication_published = data.data.published
                        vm.publication_status = data.data.status
                        vm.publication.cover_pic = data.data.cover_image
                        vm.publication.tags = data.data.tags
                        if (this.pages.length != 0) {
                            this.current_page = this.pages[this.pages.length - 1]
                            this.current_page_title = this.current_page.title
                            this.current_page_data = this.current_page.content
                            $('#summernote').summernote('code', vm.current_page_data)
                            console.log(this.pages)
                        }
                        var array = data.data.tags.split(',');
                        var i = 0
                        while (i < array.length) {
                            $('#tags').tagsinput('add', array[i]);
                            console.log(array[i])
                            i++
                        }
                    } else {
                        console.log("Unauthorized");
                    }
                })
                .catch((err) => alert(err))
            console.log('Editor Mounted')
        },
        props: ['get'],
        data() {
            return {
                current_page: null,
                current_page_title: null,
                current_page_data: null,
                publication_title: "Publication Title",
                publication_type: 0,
                publication_published: 2,
                publication:{cover_pic:"#", tags:"#"},
                pages: [{title: "page1", content: "this is the page one "}],
                processing: false,
            }
        },
        methods: {
            AddBlankPage() {
                axios.post('/publication/add/blank-page', {
                    publication_id: this.get
                })
                    .then((response) => {
                        console.log(response)
                        this.pages.push(response.data)
                    })
                    .catch((err) => console.log(err))
            },
            LoadPage(page) {
                var vm = this
                if (vm.processing != false) {
                    alert(" Still processing ")
                    return
                }
                vm.current_page = page
                vm.current_page_title = page.title

                Vue.nextTick(function () {
                    $('#summernote').summernote('code', page.content)
                })
            },
            DeletePage(page) {
                let vm = this
                axios.post('/publications/page/delete', {
                    page_id: page.id
                })
                    .then((data) => {
                        vm.pages.splice(page, index);
                        console.log(data)
                    })
                    .catch((err) => {
                        console.log(err)
                    })
                console.log(page_id);
            },
        },
        watch: {
            publication_title: function () {
                let vm = this;
                vm.processing = true;
                axios.post('/publication/update', {
                    publication_id: this.get,
                    publication_type: parseInt(vm.publication_type),
                    publication_title: vm.publication_title,
                }).then(function (response) {
                    vm.processing = false;
                    console.log(response);
                })
                    .catch(function (error) {
                        vm.processing = false
                        console.log(error);
                    });
            },
            publication_type: function () {
                let vm = this;
                vm.processing = true;
                axios.post('/publication/update', {
                    publication_id: this.get,
                    publication_type: parseInt(vm.publication_type),
                    publication_title: vm.publication_title,
                }).then(function (response) {
                    vm.processing = false;
                    console.log(response);
                })
                    .catch(function (error) {
                        vm.processing = false
                        console.log(error);
                    });
            },

            publication_status: function () {
                let vm = this;
                vm.processing = true;
                axios.post('/publication/update', {
                    publication_id: this.get,
                    publication_type: parseInt(vm.publication_type),
                    publication_title: vm.publication_title,
                    publication_status: vm.publication_status,
                }).then(function (response) {
                    vm.processing = false;
                    console.log(response);
                })
                    .catch(function (error) {
                        vm.processing = false
                        console.log(error);
                    });
            },
            current_page_title: function () {
                let vm = this;
                vm.processing = true;
                vm.current_page.title = vm.current_page_title
                axios.post('/publication/store/page', {
                    id: vm.current_page.id,
                    title: vm.current_page.title,
                    content: vm.current_page.content,
                    publication_id: this.get
                })
                    .then(function (response) {
                        vm.processing = false;
                        console.log(response);
                    })
                    .catch(function (error) {
                        vm.processing = false
                        console.log(error);
                    });

            },

            current_page_data: function () {
                let vm = this;

                vm.current_page_data = $('#summernote').summernote('code')
                vm.current_page.content = vm.current_page_data
                // clearTimeout(fetch);
                // fetch = setTimeout(function () {
                vm.processing = true;
                vm.current_page.title = vm.current_page_title
                axios.post('/publication/store/page', {
                    id: vm.current_page.id,
                    title: vm.current_page.title,
                    content: vm.current_page.content,
                    publication_id: this.get
                })
                    .then(function (response) {
                        vm.processing = false
                        console.log(response);
                    })
                    .catch(function (error) {
                        vm.processing = false
                        console.log(error);
                    })
                // }, 0);
            }
        },

        computed: {
            orderedPages: function () {
                return _.orderBy(this.pages, 'sequence')
            }
        },
        filters: {
            truncate: function (string, value) {
                return string.substring(0, value) + '...';
            }
        }
    }
</script>