<template>
    <div class="ps-user-profile-edit">
        <div class="col-md-12 form-horizontal ps-user-profile-personal-detail-edit-block">
            <h4>Personal Information
                <button v-if="!edit.PersonalInfo" v-on:click="function()
            { if (edit.PersonalInfo == true){ edit.PersonalInfo = false}else { edit.PersonalInfo = true} }">
                    <i class="fa fa-edit"></i>
                </button>
            </h4>

            <div class="ps-profile-input-group">
                <label for="name">First Name</label>
                <div class="ps-profile-input-group-input">
                    <span v-if="!edit.PersonalInfo">{{ profile.first_name}}</span>
                    <input v-if="edit.PersonalInfo" type="text" class="ps-input-textbox" name="first_name"
                           v-model="profile.first_name">
                </div>
            </div>
            <div class="ps-profile-input-group">
                <label for="name">Last Name</label>
                <div class="ps-profile-input-group-input">
                    <span v-if="!edit.PersonalInfo">{{ profile.last_name}}</span>
                    <input v-if="edit.PersonalInfo" type="text" class="ps-input-textbox" name="last_name"
                           v-model="profile.last_name">
                </div>
            </div>
            <div class="ps-profile-input-group">
                <label for="nickname">Nick Name</label>
                <div class="ps-profile-input-group-input">
                    <span v-if="!edit.PersonalInfo">{{ profile.nickname}}</span>
                    <input v-if="edit.PersonalInfo" type="text" name="nickname" class="ps-input-textbox"
                           v-model="profile.nickname">
                </div>
            </div>
            <div class="ps-profile-input-group">
                <label for="gender">Gender</label>
                <div class="ps-profile-input-group-input">
                    <span v-if="!edit.PersonalInfo && profile.gender == 1"> Male</span>
                    <span v-if="!edit.PersonalInfo && profile.gender == 2"> Female</span>
                    <select v-if="edit.PersonalInfo" name="gender" v-model="profile.gender" id=""
                            class="ps-input-textbox">
                        <option v-bind:value="1000">--Select Gender--</option>
                        <option v-bind:value="1">Male</option>
                        <option v-bind:value="2">Female</option>
                    </select>
                </div>
            </div>
            <div class="ps-profile-input-group">
                <label for="dob">Date of birth</label>
                <div class="ps-profile-input-group-input">
                    <span v-if="!edit.PersonalInfo">{{ profile.dob}}</span>
                    <input v-if="edit.PersonalInfo" type="text" class="ps-input-textbox" v-model="profile.dob">
                </div>
            </div>
            <div class="ps-profile-input-group">
                <label for="achievemtns">Meritial Status</label>
                <div class="ps-profile-input-group-input">
                    <input v-if="edit.PersonalInfo" type="checkbox" v-model="profile.married">
                </div>
            </div>

            <div class="ps-profile-input-group-update-button">
                <button  class="ps-dark-button" v-if="edit.PersonalInfo" v-on:click="updatePersonalInfo"
                        id="uPi"> Update Personal Info
                </button>
            </div>

        </div>
        <div class="col-md-12 form-horizontal ps-user-profile-basic-detail-edit-block">
            <h4>Basic Information
                <button v-if="!edit.PersonalInfo" v-on:click="function()
            { if (edit.BasicInfo == true){ edit.BasicInfo = false}else { edit.BasicInfo = true} }">
                    <i class="fa fa-edit"></i>
                </button>
            </h4>
            <div class="ps-profile-input-group">
                <label for="nationality">Nationality</label>
                <span v-if="!edit.BasicInfo">{{ profile.nationality}}</span>
                <div class="ps-profile-input-group-input">
                    <select v-if="edit.BasicInfo" name="nationality" v-model="profile.nationality"
                            class="ps-input-textbox">
                        <option v-for="nation in resource_data.nations" v-bind:value="nation.value ">{{ nation.value }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="ps-profile-input-group">
                <label for="nationality">Language</label>
                <span v-if="!edit.BasicInfo">{{ profile.language}}</span>
                <div class="ps-profile-input-group-input">
                    <select v-if="edit.BasicInfo" name="language" v-model="profile.value" class="ps-input-textbox">
                        <option v-for="language in resource_data.languages" v-bind:value="language.value ">{{
                            language.value }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="ps-profile-input-group">
                <label for="Experience">Experience</label>
                <span v-if="!edit.BasicInfo">{{ profile.experience}}</span>
                <div class="ps-profile-input-group-input">
                    <input v-if="edit.BasicInfo" type="text" class="ps-input-textbox" v-model="profile.experience">
                </div>
            </div>
            <div class="ps-profile-input-group">
                <label for="eductation">Education</label>
                <span v-if="!edit.BasicInfo">{{ profile.education}}</span>
                <div class="ps-profile-input-group-input">
                    <input v-if="edit.BasicInfo" type="text" class="ps-input-textbox" v-model="profile.education">
                </div>
            </div>
            <div class="ps-profile-input-group">
                <label for="occupation">Occupation</label>
                <div class="ps-profile-input-group-input">
                    <input v-if="edit.BasicInfo" type="text" class="ps-input-textbox" v-model="profile.occupation">
                </div>
            </div>
            <div class="ps-profile-input-group">
                <label for="interest">Interest</label>
                <span v-if="!edit.BasicInfo">{{ profile.interest}}</span>
                <div class="ps-profile-input-group-input">
                    <input v-if="edit.BasicInfo" type="text" class="ps-input-textbox" v-model="profile.interest">
                </div>
            </div>
            <div class="ps-profile-input-group">
                <label for="achievemtns">Achievements</label>
                <span v-if="!edit.BasicInfo">{{ profile.achievement}}</span>
                <div class="ps-profile-input-group-input">
                    <input v-if="edit.BasicInfo" type="text" class="ps-input-textbox" v-model="profile.achievement">
                </div>
            </div>

            <div class="ps-profile-input-group-update-button">
                <button v-if="edit.BasicInfo" class="ps-dark-button" v-on:click="updateBasicInfo">
                    Update Basic Info
                </button>
            </div>

        </div>
        <div class="col-md-12 form-horizontal ps-user-profile-password-reset-block">
            <h4>Password Reset
                <button v-if="!edit.ChangePassword"v-on:click="function()
            { if (edit.ChangePassword == true){ edit.ChangePassword = false}else { edit.ChangePassword = true} }">
                    <i class="fa fa-edit"></i>
                </button>
            </h4>
            <div v-if="edit.ChangePassword" class="ps-profile-input-group">
                <label for="achievemtns">OldPassword</label>
                <div class="ps-profile-input-group-input">
                    <input type="text" class="ps-input-textbox" v-model="profile.oldPassword">
                </div>
            </div>
            <div v-if="edit.ChangePassword" class="ps-profile-input-group">
                <label for="achievemtns">newPassword</label>
                <div class="ps-profile-input-group-input">
                    <input type="text" class="ps-input-textbox" v-model="profile.newPassword">
                </div>
            </div>
            <div v-if="edit.ChangePassword" class="ps-profile-input-group-update-button">

                <button class="ps-dark-button" v-on:click="updatePassword"> Change Password</button>

            </div>
        </div>
        <div class="col-md-12 form-horizontal ps-user-profile-contact-detail-edit-block">
            <h4>Contact Information
                <button v-if="!edit.ContactInfo" v-on:click="function()
            { if (edit.ContactInfo == true){ edit.ContactInfo = false}else { edit.ContactInfo = true} }">
                    <i class="fa fa-edit"></i>
                </button>
            </h4>
            <div class="ps-profile-input-group">
                <label for="achievemtns">Phone Number</label>
                <span v-if="!edit.ContactInfo">{{ profile.phone}}</span>
                <div class="ps-profile-input-group-input">
                    <input v-if="edit.ContactInfo" type="text" class="ps-input-textbox" v-model="profile.phone">
                </div>
            </div>
            <div class="ps-profile-input-group">
                <label for="achievemtns">Address</label>
                <span v-if="!edit.ContactInfo">{{ profile.address}}</span>
                <div class="ps-profile-input-group-input">
                    <input v-if="edit.ContactInfo" type="text" class="ps-input-textbox" v-model="profile.address">
                </div>
            </div>

            <div class="ps-profile-input-group-update-button">
                <button v-if="edit.ContactInfo" class="ps-dark-button" v-on:click="updateContactInfo">
                    Update Contact Details
                </button>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            let vm = this
            axios.get('profile/data')
                .then((data) => {
                    vm.resource_data.nations = data.data.nations
                    vm.resource_data.languages = data.data.languages
                    vm.profile = data.data.user
                    console.log(data.data)
                })
                .catch((error) => console.log(error))
        },
        data() {
            return {
                edit: {
                    PersonalInfo: false,
                    BasicInfo: false,
                    ContactInfo: false,
                    ChangePassword: false,
                },
                profile: {
                    first_name: null,
                    last_name: null,
                    nickname: null,
                    gender: 1000,
                    email: null,
                    dob: null,
                    nationality: null,
                    language: null,
                    experience: null,
                    education: null,
                    occupation: null,
                    interest: null,
                    achievement: null,
                    oldPassword: null,
                    newPassword: null,
                    meritalstatus: null,
                    address: null,
                    phone: null,
                },
                resource_data: {
                    nations: null,
                    languages: null,
                }
            }
        },

        methods: {
            updatePersonalInfo: function () {
                let vm = this
                vm.edit.PersonalInfo = false
                axios.post('/profile/personal', {
                    first_name: vm.profile.first_name,
                    last_name: vm.profile.last_name,
                    nickname: vm.profile.nickname,
                    gender: vm.profile.gender,
                    dob: vm.profile.dob,
                    married: vm.profile.married,
                })
                    .then((response) => {
                            $.notify("Personal Details Updated", "success")
                            console.log(response)
                        }
                    )
                    .catch((error) => {
                        console.log(error)
                    })
            },

            updateBasicInfo: function () {
                let vm = this
                vm.edit.BasicInfo = false
                axios.post('/profile/basic', {
                    nationality: vm.profile.nationality,
                    education: vm.profile.education,
                    experience: vm.profile.experience,
                    interest: vm.profile.interest,
                    language: vm.profile.language,
                    achievement: vm.profile.achievement,
                    occupation: vm.profile.occupation,

                })
                    .then((response) => {
                        $.notify("Basic Details Updated", "success");
                        console.log(response)
                    })
                    .catch((error) => {
                        console.log(error)
                    })
            },

            updatePassword: function () {
                let vm = this
                vm.edit.ChangePassword = false
                axios.post('/profile/password-change',
                    {
                        oldPassword: vm.profile.oldPassword,
                        newPassword: vm.profile.newPassword
                    })
                    .then((response) => {
                        $.notify("Password Updated", "success");
                        console.log(response)
                    })
                    .catch((error) => {
                        console.log(error)
                    })
            },

            updateContactInfo: function () {
                let vm = this
                vm.edit.ContactInfo = false
                axios.post('/profile/contact-info',
                    {
                        phone: vm.profile.phone,
                        address: vm.profile.address,
                    })
                    .then((response) => {
                        $.notify("Contact info update", "success");
                        console.log(response)
                    })
                    .catch((error) => {
                        console.log(error)
                    })
            }
        }
    }


</script>