<template>
    <div>
    	<div class="row">
    		<div class="col-sm-offset-9 col-sm-3">
    			<select v-model="type" class="form-control">
		            <option value="0">All</option>
		            <option value="1">Article</option>
		            <option value="2">Book</option>
		        </select>
    		</div>	
    	</div>  	

        <div class="row">
            <div v-for="publication in publications">
                <div  class="col-md-6"  v-if="type == publication.type || type == 0"  >                	
                	<div class="publicationBox" :style="{ 'background-image': 'url(' + publication.cover_image + ')' }">
                		<div class="info">
		                    <h4 style="margin:1em;">{{ publication.title }}</h4>
		                    <h5>{{ publication.tags}}</h5>
		                    <h5>{{ publication.created_at}}</h5>
		                    <hr />
		                    <ul class="horizontal-menu">	                   
			                    <li><a :href="edit_page_url(publication.id)" >Edit </a></li>
			                    <li><a href="#" @click="delete_publication(publication.id)">Delete</a></li>
		                    </ul>
	                    </div>	                   
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</template>

<style>
	ul.horizontal-menu{
		list-style: none
	}
	ul.horizontal-menu > li {
		display: inline;
		padding: 0 20px;
		color: #ccc;
		cursor: arrow;
	}
	.publicationBox{
		height: 400px;
		width: 100%;
		position: relative;
		background: #607D8B;
		margin-top: 10px;
	}
	.info{
		position: absolute;
		background: rgba(100,100,100,0.7);
		color:#fff;
		width: 100%;
		bottom:0;
		left: 0;
	}
</style>
<script>
	export default{
		mounted(){
			console.log("publications mounted")
			let  vm =this;
			axios.get('/publications/get')
				.then((data) => {
					vm.publications = data.data
                    console.log(data.data)
				})
				.catch((error) => console.log(error) )
		},
		data(){
			return{
				publications:[],
				type:"0"
			}
		},
		methods: {
			cover_image_url: function(parameter) {
		      return "/public/"+parameter
		    },
		    edit_page_url: function(id){
		    	return "/publication/edit?id="+id
		    },
		    delete_publication: function(id){
		        console.log("delete Called")
		        axios.post('/publications/delete',{
		            publication_id : id
		        })
		        .then( (data)=>{console.log(data)} )
		        .catch( (err)=>{console.log(err)} )
		    }
		},

	}
</script>
