<template>
	<div @scroll="onScroll">
		<h4>{{publication_title}}</h4>
		<img async :src="cover_image">
		<li v-for="page in pages" ><a href="#" @click="selectPage(page)">{{ page.title }} </a></li>
		<div v-if="current_page" v-html="current_page.content"  >	
		</div>
	</div>
</template>

<script>
	export default{
		mounted(){
			console.log("Reader has been mounted")
			axios.get('/publication/get/publication',{
	        params:{
	          publication_id : this.pubid,
	          offset: this.offset,
	          page_id : this.pageid
	        }})
	        .then((data)=>{
	        	this.publication_title = data.data.title,
	        	this.cover_image = data.data.cover_image,
	        	this.pages = data.data.pages
	        	console.log( data )
	        })
	        .catch((err)=>{console.log(err)})
		},
		props:['pubid','offset','pageid'],
		data(){
			return {
				publication_title:"publication title",
				cover_image:"",
				pages:[],
				current_page:null
			}
		},
		methods:{
			selectPage: function(this_page){				
				 axios.post('/read/publication/state',{
		            page_id : this_page.id
		        })
		        .then( (data)=>{console.log(data)} )
		        .catch( (err)=>{console.log(err)} )
				this.current_page = this_page
			},
			onScroll: function(){
				console.log("wohooooo o.")
			}
		}
	}
</script>