<template>
    <div>
            <div class="ps-search-box">
                    <div class="ps-input-group-right-icon-block">
                        <input class="ps-input-right-textbox p-r-32" type="text" name="search" v-model="query" placeholder="Search"/>
                        <span class="fa fa-search ps-inputgroup-right-icon"></span>
                    </div>                 
            </div>
             <div v-if=" query != '' " class="search-result">
                <div class="selection">
                    <ul class="searchFor">
                        <li>
                            <i class="fa fa-book" style="color:#607D8B; text-shadow:2px 0px 2px #666"></i>
                        </li>
                        <li>
                            <i class="fa fa-user gray"></i>
                        </li>
                    </ul>
                </div>
                <div  v-if = "results.length > 0 ">
                <div class="row">
                    <div class="col-md-3"  v-for="result in results">
                        <div class="catelog">
                            <a :href="link(result.fields.id)">
                                <img  :src="result.fields.cover_image" width="100%" height=auto>
                                <p>{{ result.fields.title }}</p>
                            </a>
                        </div>
                </div>
                <div><p> Hope You Get What You Want</p></div>
                </div>
            </div>
           
            <p v-if="results.length == 0 ">
                Sorry !, No results found
            </p>
        </div>
    </div>
</template>
<script>
    export default {
        mounted() {
            console.log("Serach Component has been mounted")
        },
        data() {
            return {
                results: [],
                query: "",
            }
        },
        methods: {
            link: function (id) {
                return "/publication/read/" + id
            }
        },
        watch: {
            query: function () {
                axios.get('/search?s=' + this.query)
                    .then((data) => {
                    this.results = data.data.response.hits
                console.log(data.data.response)
            })
            .
                catch((error) => console.log(error)
            )
            }
        },

    }
</script>

<style scoped>
    .search-result {
        top: 60px;
        left: 0;
        position: absolute;
        width: 100%;
        min-height: 100%;
        padding: 20px;
        background: #fff;
        z-index: 1000;
        box-shadow:0 4px 4px #6c6c6c;
        text-align: center;
    }
    .catelog{
        box-shadow: 0 2px 4px #8c8c8c;
        width:100%;
        height:250px;
        position: relative;
    }
    .catelog:hover{
        opacity: 0.7
    }
    .catelog p{
        position:absolute;
        bottom: 10px;
        color:#fff;
        font-size:20px;
        font-weight: bold;
        text-align: center;
        width:100%;
    }
    .selection{
        margin: 0 auto;
    }
    .selection ul.searchFor{
        list-style:none
    }
    .selection ul.searchFor li {
        display: inline;
        margin: 0 20px;

    }
    .selection ul.searchFor li i {
        font-size: 30px;
        margin:20px;
         box-shadow: 0px 0px 2px  #ccc;
         padding:10px;
    }

</style>
