.ps-light-btn {
  padding: 6px !important;
  background-color: $theme-secondary-color;
  color: $text-on-theme-color;
  outline: none;
  border: none;
  box-shadow: $normal-box-shadow;
  font-size: $font-size-md;
  width: 72px;
}

.ps-dark-button {
  padding: 6px 18px !important;
  background-color: $theme-navbar-color;
  color: $text-on-theme-color;
  outline: none;
  border: none;
  box-shadow: $normal-box-shadow;
  font-size: $font-size-md;
  width: auto;
  &:hover{
    background-color: $theme-secondary-color;
  }
}