.ps-input-group-right-icon-block {
  position: relative;
  color: #aaa;
  font-size: 16px;

  .ps-input-right-textbox {
    width: -webkit-fill-available;
    height: 36px;
    outline: none;
    padding: 4px 8px;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    color: #666;
    box-shadow: $normal-box-shadow;
    font-size: 14px;
    &:focus{
      box-shadow :$focus-box-shadow;
    }
  }
  .ps-inputgroup-right-icon {
    position: absolute;
    top: 9px;
    right: 8px;
  }
}
.ps-input-group-left-icon-block {
  position: relative;
  color: #aaa;
  font-size: 16px;

  .ps-input-left-textbox {
    width: -webkit-fill-available;
    height: 36px;
    outline: none;
    padding: 4px 8px;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    color: #666;
    box-shadow: $normal-box-shadow;
    font-size: 14px;
    &:focus{
      box-shadow :$focus-box-shadow;
    }
  }
  .ps-inputgroup-left-icon {
    position: absolute;
    top: 9px;
    left: 8px;
  }
}
.ps-input-textbox {
  width: -webkit-fill-available;
  height: 36px;
  outline: none;
  padding: 4px 8px;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  color: #666;
  box-shadow: $normal-box-shadow;
  font-size: 14px;
  &:focus{
    box-shadow :$focus-box-shadow;
  }
}