.ps-custom-navbar {
    height: 60px;
    background-color: $theme-navbar-color;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    .header-block{
        float: left;
        .ps-logo{
            display: inline-block;
            a{
                color:#fff;
                top: 9px;
                position: absolute;
                font-size: 30px;
                font-weight: bold;
                margin: 0;
                cursor: pointer;
                text-decoration: none;
            }
        }
        .ps-search-box{
            display: inline-block;
            left: 200px;
            position: absolute;
            margin: 0;
            top: 12px;
            width: 300px;
        }
    }
    .header-signin-block{
        float: right;
        .ps-user-profile-image{
            display: inline-block;
            padding:10px !important;
            a{
            color:#fff;
                text-decoration: none;
            }
            a:hover{
                color: #e8e8e8;
            }
        }
        .ps-user-profile{
            display: inline-block;
            padding: 20px 10px;
            a{
            color:#fff;
                text-decoration: none;
            }
            a:hover{
                color: #e8e8e8;
            }
        }
        .ps-pubpost{
            display: inline-block;
            padding: 20px 10px;
            a{
            color:#fff;
                text-decoration: none;
            }
            a:hover{
                color: #e8e8e8;
            }
        }
        .ps-header-dropdown{
            display: inline-block;
            padding: 20px 10px;
            a{
            color:#fff;
                text-decoration: none;
            }
            a:hover{
                color: #e8e8e8;
            }
            .dropdown-menu{
            a{
                color:#333;
                text-decoration: none;
            }
            a:hover{
                color: #999;
            }
            }
        }
        .ps-signin-btn{
            display: inline-block;
            padding: 20px;
            a{
            color:#fff;
            text-decoration: none;
            }
            a:hover{
            color: #e8e8e8;
            }
        }
        .ps-signup-btn{
            display: inline-block;
            padding: 20px;
            a{
            color:#fff;
            text-decoration: none;
            }
            a:hover{
                color: #e8e8e8;
            }
        }
    }
}
