.ps-custom-sidebar{
  padding: 5px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: $text-on-theme-color;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

  li a.active {
    background-color: $theme-navbar-color;
    color: white;
  }

  li a:hover:not(.active) {
    background-color: $theme-secondary-color;
    color: white;
  }
}