.ps-editor {
  .col-sm-2 {
    padding: 0;
    .ps-editor-left-side-block {
      background-color: $text-on-theme-color;
      margin: 5px;
      min-height: calc(100vh - 70px);
      .ps-content-title {
        padding: 20px 15px 20px 22px;
      }
      .ps-page-detail-block {
        .ps-page-detail-title {
          background-color: $light-heading-bgcolor;
          height: 40px;
          padding: 10px;
          box-sizing: border-box;
          font-weight: 600;
        }
        .ps-page-detail-child-block {
          list-style-type: none;
          padding: 5px 15px 20px 22px;
          .ps-page-counter {
            padding: 0;
            margin: 0;
            background-color: #fff;
            outline: none;
            border: 0;
            position: relative;
            width: 100%;
            height: 40px;
            border-bottom: 1px solid #d5d5d5;
            .ps-custom-page-title {
              position: absolute;
              left: 0;
            }
            .fa-pencil {
              position: absolute;
              top: 12px;
              right: 22px;
            }
            .fa-close {
              position: absolute;
              top: 12px;
              right: 0;
              color: red;
            }
          }
          .ps-new-page-button {
            padding: 15px 0 0;
            text-align: center;
          }
        }
      }
    }
  }
  .col-sm-8 {
    padding: 0;
    .ps-editor-middle-block {
      background-color: $text-on-theme-color;
      margin: 5px;
      padding: 20px;
      min-height: calc(100vh - 70px);
    }
  }
  .col-sm-2 {
    padding: 0;
    .ps-editor-right-side-block {
      background-color: $text-on-theme-color;
      margin: 5px;
      min-height: calc(100vh - 70px);
      .ps-select-type {
        padding: 20px 22px 20px 15px;
      }
      .ps-content-image-type1 {
        position: relative;
        .ps-page-detail-title {
          background-color: $light-heading-bgcolor;
          height: 40px;
          padding: 10px;
          box-sizing: border-box;
          font-weight: 600;
        }

        .ps-user-profile-image-detail-block {
          position: relative;
          padding: 20px 22px 20px 15px;
          .ps-user-profile-image {
            width: 100%;
            height: 164px;
            background: #ccc;
            img {
              height: 100%;
              width: 100%;
            }
            .ps-upload-file {
              position: absolute;
              top: 20px;
              background: #ccc;
              width: 40px;
              z-index: 1000;
              opacity: 0;
              right: 0;
              width: 115px;
              height: 30px;
              cursor: pointer;
              input {
                height: 30px;
                width: 115px;
                cursor: pointer;
              }
            }
            .ps-upload-image-button {
              position: absolute;
              top: 20px;
              right: 9px;
              height: 30px;
              background: rgba(255, 255, 255, 0.5);
              width: 115px;
              border-radius: 3px;
              padding: 5px 10px;
              box-sizing: border-box;
              cursor: pointer;
              &:hover {
                background: rgba(255, 255, 255, 0.8);
              }

              span {
                font-size: 11px;
              }
            }

            .ps-confirm-image {
              position: absolute;
              left: 15px;
              top: 20px;
              padding: 5px 10px;
              background-color: rgba(255, 255, 255, 0.5);
              border-radius: 3px;
              cursor: pointer;
              &:hover {
                background: rgba(255, 255, 255, 0.8);
              }
              span {
                font-size: 11px;
              }
            }
          }
        }

        .ps-tag-block{
          padding:20px 22px 20px 15px;
          .bootstrap-tagsinput{
            min-width: 100%;
            min-height: 80px;
            outline: none;
            padding: 4px 8px;
            box-sizing: border-box;
            margin: 0;
            border: 0;
            color: #666;
            box-shadow: $normal-box-shadow;
            font-size: 14px;
          }
        }
        .ps-publish-block {
          padding: 20px 22px 20px 15px;
        }
      }
    }
  }
}