.ps-card {
  box-shadow: $normal-box-shadow;
  background-color: #fff;
}

.part:first{
    border-right:1px solid #ccc
}



.ps-card{
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.33);
    background-color: #fff;
}


.login-block {
  padding: 20px;
  background-color: #e8e8e8;

  .login-box {
    width: 400px;
    float: right;
    .login-box-title {
      text-align: center;
      color: $theme-navbar-color;
    }
    .remeberme-checkbox{

      .checkbox{
        input[type="checkbox"]{
          visibility: hidden;
          &:checked + label{
            background-color: $theme-navbar-color;
            border: none;
            height: 22px;
            width: 22px;
            border-radius: 0;
            &:hover{
              background-color: $theme-secondary-color;
            }
          }
          &:checked + label:before{
            opacity: 1;
          }
        }
        label{
          width: 22px;
          height: 22px;
          background-color: $text-on-theme-color;
          border: solid 1px $theme-navbar-color;
          position: absolute;
          cursor: pointer;
          &:hover{
            background-color: $theme-secondary-color;
            border: none;
          }
          &:before{
            content: '';
            width: 11px;
            height: 6px;
            border: 3px solid white;
            position: absolute;
            border-top: none;
            border-right: none;
            transform: rotate(-45deg);
            top: 6px;
            left: 6px;
            opacity: 0;
          }
        }
      }
    }

    .login-button-block {
      button {
        display: inline-block;
      }
      p {
        display: inline-block;
        float: right;
        font-size: $font-size-md;
      }
    }
  }

}
