.ps-user-profile {
  padding: 5px;
  .ps-user-profile-block {
    background-color: $text-on-theme-color;

    .ps-user-profile-cover-image {
      height: 250px;
      width: 100%;
      background-color: $disabled-text-color;
      box-shadow: $focus-box-shadow;

      img {
        object-fit: cover;
      }
    }

    .ps-user-profile-image-detail-block {
      position: relative;

      .ps-user-profile-image {
        position: absolute;
        top: -60px;
        left: 5%;
        width: 200px;
        height: 200px;
        background: #ccc;
        img {
          height: 100%;
          width: 100%;
        }
        .ps-upload-file {
          position: absolute;
          top: 0px;
          background: #ccc;
          z-index: 1000;
          opacity: 0;
          right:0;
          width:115px;
          height:30px;
          cursor: pointer;
          input{
            height:30px;
            width:115px;
            cursor: pointer;
          }
        }
        .ps-upload-image-button {
          position: absolute;
          top: 0;
          right: 0;
          height: 30px;
          background: rgba(255, 255, 255, 0.5);
          width: 115px;
          border-radius: 3px;
          padding: 5px 10px;
          box-sizing: border-box;
          cursor: pointer;
          &:hover {
            background: rgba(255, 255, 255, 0.8);
          }

          span {
            font-size: 11px;
          }
        }

        .ps-confirm-image {
          position: absolute;
          left: 0;
          top: 0;
          padding: 5px 10px;
          background-color: rgba(255, 255, 255, 0.5);
          border-radius: 3px;
          cursor: pointer;
          &:hover {
            background: rgba(255, 255, 255, 0.8);
          }
          span {
            font-size: 11px;
          }
        }
      }
      .ps-profile-username {
        position: absolute;
        left: calc(6% + 200px);
        padding: 16px;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1px;
        span {
          font-size: 18px;
          font-weight: 400;
        }
      }
      .ps-user-follow-button {
        float: right;

        button {
          margin: 54px 12px 0;

        }
      }
    }

    .ps-user-slogan-block {
      padding: 30px;

      .ps-user-slogan {
        margin: auto;
        width: fit-content;
        max-width: 100%;
      }
    }
  }
}

.ps-user-profile-edit {
  padding: 5px;
  .ps-user-profile-personal-detail-edit-block,
  .ps-user-profile-basic-detail-edit-block,
  .ps-user-profile-password-reset-block,
  .ps-user-profile-contact-detail-edit-block {
    background-color: $text-on-theme-color;
    padding: 0;
    margin-bottom: 10px;
    h4 {
      background-color: $theme-navbar-color;
      margin: 0px;
      padding: 10px;
      font-size: $font-size-lg;
      color: $text-on-theme-color;
      height: 40px;
      button {
        float: right;
        background-color: transparent;
        outline: none;
        border: 0;
      }
    }
    .ps-profile-input-group {
      height: 40px;
      padding: 10px 40px;
      label {
        display: inline-block;
        font-weight: 400;
        color: #666;
        font-size: 14px;
        width: 100px;
      }
      .ps-profile-input-group-input {
        display: inline-block;
        .ps-input-textbox{
          width: 360px;
        }
      }

    }
    .ps-profile-input-group-update-button{
      float: right;
      margin:12px;
    }
  }
}