.signup-block {
  padding: 30px;
  background-color: #e8e8e8;

  .signup-box {
    width: 500px;
    text-align: center;
    margin: auto;
    .signup-box-title {
      text-align: center;
      color: $theme-navbar-color;
    }
    .signup-button-block {
      button {
        display: inline-block;
      }
      .ps-dark-button {
        float: left;
      }
      div {
        display: inline-block;
        float: right;
        p {
          font-size: $font-size-md;
          display: inline-block;
        }
        button {
          display: inline-block;
        }
      }
    }
  }
}