html,body{
    width:100%;
    overflow-x:hidden;
    background-color: $theme-background-color;
    font-family: 'Raleway', sans-serif;
    @include breakpoint(mobileonly){
        height:100%;
    }
}
section{
    margin-bottom:1em ;
}

.mobi-full{
    @include breakpoint(mobileonly) {
       height:100%;
    }
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background-color: $text-on-theme-color;
}
::-webkit-scrollbar-thumb {
    background-color:$theme-scrollbar-color;
}
