.p-0{
  padding: 0px !important;
}
.p-10{
  padding: 10px !important;
}
.p-20 {
  padding: 20px !important;
}
.p-30 {
  padding: 30px !important;
}

.p-t-0{
  padding-top: 0px !important;
}
.p-r-0{
  padding-right: 0px !important;
}
.p-b-0{
  padding-bottom: 0px !important;
}
.p-l-0{
  padding-left: 0px !important;
}

.p-t-10{
  padding-top: 10px !important;
}
.p-r-10{
  padding-right: 10px !important;
}
.p-b-10{
  padding-bottom: 10px !important;
}
.p-l-10{
  padding-left: 10px !important;
}

.p-t-20{
  padding-top: 20px !important;
}
.p-r-20{
  padding-right: 20px !important;
}
.p-b-20{
  padding-bottom: 20px !important;
}
.p-l-20{
  padding-left: 20px !important;
}

.p-r-32 {
  padding-right: 32px !important;
}
.p-l-32 {
  padding-left: 32px !important;
}


.m-0{
  margin: 0px !important;
}
.m-10{
  margin: 10px !important;
}
.m-20{
  margin: 20px !important;
}
.m-30{
  margin: 30px !important;
}

.m-t-0{
  margin-top: 0px !important;
}
.m-t-5{
  margin-top: 5px !important;
}
.m-r-0{
  margin-right: 0px !important;
}
.m-b-0{
  margin-bottom: 0px !important;
}
.m-l-0{
  margin-left: 0px !important;
}

.m-t-10{
  margin-top: 10px !important;
}
.m-r-10{
  margin-right: 10px !important;
}
.m-b-10{
  margin-bottom: 10px !important;
}
.m-l-10{
  margin-left: 10px !important;
}

.m-t-20{
  margin-top: 20px !important;
}
.m-r-20{
  margin-right: 20px !important;
}
.m-b-20{
  margin-bottom: 20px !important;
}
.m-l-20{
  margin-left: 20px !important;
}
