<!doctype html>
<html lang="en">
<head>
    <title>Wiper Frame</title>
    <link rel="stylesheet" href="/public/css/pace.css">
    <script src="/public/js/pace.js"></script>
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta id="token" name="token" content="{{ .Token }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Ladda/1.0.1/ladda.min.css"/>
    {{ yield styles() }}

</head>
<body>
<div id="app">

    <div class="ps-custom-navbar container-fluid" id="top-nav">
        <div class="header-block">
            <div class="ps-logo">
                <a href="/">Puberstreet</a>
            </div>
            <search></search>
            <!--<div class="ps-search-box">-->
            <!--<div class="ps-input-group-right-icon-block">-->
            <!--<input class="ps-input-right-textbox p-r-32" type="text" name="search" placeholder="Search"/>-->
            <!--<span class="fa fa-search ps-inputgroup-right-icon"></span>-->
            <!--</div>-->
            <!--</div>-->
        </div>
        <div class="header-signin-block">
            {{ if isset(.Auth) }}

            <div class="ps-user-profile-image">
                <a href="/profile">
                    <img src="{{.ProfilePic}}" height="30" width="30">
                </a>
            </div>
            <div class="ps-user-profile">
                <span {{if .Url== "/profile" }}class="active" {{end}}><a href="/profile">{{.FirstName}}</a></span>
            </div>
            <div class="ps-pubpost">
                <span {{if .Url== "/" }}class="active" {{end}}><a href="/">Pub Posts</a></span>
            </div>
            <div class="ps-header-dropdown">
            <span class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">It's Yours <span
                    class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li {{if .Url== "/profile" }}class="active" {{end}}><a href="/profile">User Profile</a></li>
                    <li {{if .Url== "/publications" }}class="active" {{end}}><a href="/publications">myPost</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </span>
            </div>
            {{ else}}
            <div class="ps-signin-btn"><a href="#top-nav">Sign In</a></div>
            <div class="ps-signup-btn"><a href="/register">Sign Up</a></div>
            {{ end }}
        </div>
    </div>
    <div class="clearfix"></div>
    <div style="height: 60px !important;"></div>

    <div class="row">
        <div class="col-sm-2">
            <div class="ps-custom-sidebar">
                <ul>
                    <li><a class="active" href="#home">My Profile</a></li>
                    <li><a href="#news">Pubpost</a></li>
                    <li><a href="#contact">Favourite</a></li>
                    <li><a href="#about">Group Discussion</a></li>
                    <li><a href="#about">Novel Episodes</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-8 p-0">{{ yield body() }}</div>
        <div class="col-sm-2 p-0"></div>
    </div>

    </div>
    <script type="text/javascript" src="/public/js/plugin.js"></script>
    <script type="text/javascript" src="/public/js/app.js"></script>
    {{ yield scripts() }}
</body>
</html>